<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.birzeit.memsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MEMSystem"
        android:usesCleartextTraffic="true">
        <activity android:name=".Relative.EditInformationRelativeActivity" />
        <activity android:name=".Paramedic.EditInformationParamedicActivity" />
        <activity android:name=".Paramedic.GPS_TrackingActivity" />
        <activity android:name=".Patient.ResetPasswordPatientActivity" />
        <activity android:name=".Patient.EditInformationPatientActivity" />
        <activity android:name=".Doctor.EditInformationDoctorActivity" />
        <activity android:name=".Doctor.ResetPasswordDoctorActivity" />
        <activity android:name=".Doctor.NotificationActivity" />
        <activity android:name=".Doctor.PatientInfoHomeActivity" />
        <activity android:name=".Doctor.ParamedicInfoActivity" />
        <activity android:name=".Paramedic.MapActivity" />
        <activity android:name=".Patient.ListOfEmergencyActivity" />
        <activity android:name=".Patient.MakeCheckActivity" />
        <activity android:name=".Doctor.DoctorListOfChecksActivity" />
        <activity android:name=".Doctor.ListOfParamedicActivity" />
        <activity android:name=".Doctor.CheckInfoActivity" />
        <activity android:name=".Doctor.PatientInfoActivity" />
        <activity android:name=".Patient.LastCheckActivity" />
        <activity android:name=".Relative.EditRelativeInfoActivity" />
        <activity android:name=".Patient.EditPatientInfoActivity" />
        <activity android:name=".Paramedic.EditParamedicInfoActivity" />
        <activity android:name=".Doctor.EditDoctorInfoActivity" />
        <activity android:name=".Relative.RelativeProfileActivity" />
        <activity android:name=".Doctor.DoctorProfileActivity" />
        <activity android:name=".Doctor.ListOfPatientActivity" />
        <activity android:name=".Paramedic.ParamedicProfileActivity" />
        <activity android:name=".Patient.PatientProfileActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".Patient.NormalCaseActivity" />
        <activity android:name=".Relative.RelativeHomeActivity" />
        <activity android:name=".Paramedic.ParamedicHomeActivity" />
        <activity android:name=".Doctor.DoctorHomeActivity" />
        <activity android:name=".Patient.CheckActivity" />
        <activity android:name=".Patient.PatientHomeActivity" />
        <activity android:name=".Paramedic.ParamedicRegisterActivity" />
        <activity android:name=".Relative.RelativeRegisterActivity" />
        <activity android:name=".Doctor.DoctorRegister" />
        <activity android:name=".Patient.PatientRegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Patient.ListOfChecksActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBPss9LuTm4tFQY8bKrTmJPnRUhDpPQOlc" />

    </application>
</manifest>